* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #b4661c);
  border-radius: 6px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111212;
  color: white;
  line-height: 0.9;
  transition: ease-out 0.5s;
}

section {
  height: 100vh;
  width: 100%;
  padding-top: 40px;
}

span {
  color: #202121;
  font-size: 10vw;
  font-family: "El Messiri", sans-serif;
}

span:hover {
  cursor: pointer;
}

h1 {
  font-family: "Alegreya", serif;
  font-size: 10vw;
  word-spacing: 20px;
}

p,
a {
  font-family: "Fjalla One", sans-serif;
}

img {
  transform: scale(1.01);
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1);
}

.details {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}

.dev,
.date {
  color: #204051;
}

.text-dev,
.text-date {
  color: #3b6978;
}

table {
  color: #fff;
  text-decoration: none;
  margin-top: 6% !important;
  margin-left: 7%;
  font-size: 1.4vw;
}

table td {
  padding-right: 30px;
}

#name {
  margin-top: 8%;
}

#designation,
.introduction,
#work {
  margin-left: 7%;
  margin-bottom: 0px;
  padding: 0;
}

#btn-down {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  padding: 20px;
}

section .projects-list {
  margin-top: 6%;
  margin-bottom: 2%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.container .box {
  position: relative;
  width: 350px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 10px;
  overflow: hidden;
  text-align: center;
}

.container .box::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}

.container .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #283739;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}

.container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #e91363;
  background: #e91363;
}

.container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #e91363;
}

.container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #23e629;
  background: #23e629;
}

.container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #23e629;
}

.container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #2196f3;
  background: #2196f3;
}

.container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #2196f3;
}

.container .box:nth-child(4) .icon {
  box-shadow: 0 0 0 0 #ff7517;
  background: #ff7517;
}

.container .box:nth-child(4):hover .icon {
  box-shadow: 0 0 0 400px #ff7517;
}

.container .box:nth-child(5) .icon {
  box-shadow: 0 0 0 0 #283739;
  background: #283739;
}

.container .box:nth-child(5):hover .icon {
  box-shadow: 0 0 0 400px #283739;
}

.container .box:nth-child(6) .icon {
  box-shadow: 0 0 0 0 #e7a117;
  background: #e7a117;
}

.container .box:nth-child(6):hover .icon {
  box-shadow: 0 0 0 400px #e7a117;
}

.container .box .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
}

.container .box:hover .content {
  color: #fff;
}

.container .box .content h3 {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 700;
  padding: 0;
}

.container .box .content p {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  padding: 0;
}



.container .box .content .readmore{
  display: inline-block;
  font-weight: 500;
  margin-top: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}